@media (min-width: 576px) {
	body{
		text-align: center;
	}

	a{
		margin: 20px 0px;
	}

	div#skills {
		display: flex;
		justify-content: space-evenly;
	}

	article#projects {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	article#projects img {
		width: 80%;
		height: 240px;
	}

	div#esquerda {
		width: 50%;
	}

	div#direita {
		width: 50%;
	}
}