*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #0B0B3B;
}

#container{
	width: 40%;
	height: fit-content;
	min-width: 576px;
	margin: 10% auto;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	background: #0A2229;
	color: white;
	box-shadow: 5px 5px 20px 5px black;
}

header{
	margin: 10px;
}

h1{
	padding: 10px;
}

h3{
	padding: 10px;
	margin-top: 5px;
}

article{
	margin-bottom: 10px;
}

video{
	width: 100%;
	margin: 10px auto;
}

img{
	width: 100%;
}

form{
	width: 90%;
	margin: 0px auto;
	padding: 10px;
}

form input{
	margin: 5px 10px;
	padding: 5px;
	color: #5F4C0B;
	background-color: #CECEF6;
}

form input:hover{
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
	background-color: #0B4C5F;
	border: none;
}