*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: hsl(233, 47%, 7%);
}

#container{
	width: 90%;
	margin: 5% 5%;
	border-radius: 10px;
	background-color: hsl(244, 38%, 16%);
	color: white;
	box-shadow: 5px 5px 20px 5px black;
}

header h2 {
	font-size: 1.2em;
}

header img {
	width: 200px;
	height: 200px;
	margin-top: 20px;
	border-radius: 500px;
}


article#soft{
	padding: 10px;
	margin: 20px 0px;
	background-color: #380B61;
}

article#soft h1{
	margin-top: 15px;
}

#soft-skills{
	clear: both;
}

article#projects h2{
	font-size: 1.5em;
}

video{
	width: 100%;
	margin: 10px auto;
}

img{
	width: 100%;
}

form{
	width: 90%;
	margin: 0px auto;
	padding: 10px;
}

footer{
	margin: 20px auto;
	padding: 20px;
	clear: both;
}